*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

div{

    justify-content: space-between;
    line-break:anywhere;
    flex-wrap: wrap;
    
}