*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

.prod{
    display: flex;
    margin-left: 200px;
}

.prod > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.prod > button
    height: 15px;
    width: 15px;
}